.products{
 
}

/* ----------- Product Item ----------------- */
@import url("../utils/productItem/productItem.css");

.delete-all{
    text-align: right;
    margin: 20px;
}
.delete-all input{
    height: 25px;
    width: 25px;
    transform: translateY(5px);
    margin: 0 15px;
}
.delete-all span{
    text-transform: uppercase;
    font-weight: 1000;
    color: rgb(3, 165, 206);
    letter-spacing: 1.3px;
}




#customers1 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    border: 1px solid white;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
    border: 1px solid RED;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
  
    color: rgb(13, 12, 12);
  }




  .row_btn{
    width: 100%;
   
    display: flex;
    justify-content: space-between;
}
.row_btn a{
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 6px;
}

#btn_view{
    border-color: #04AA6D;
    color: green;
    margin-left: 5px;
    border: 2px solid black;
    background-color: white;
    color: black;
    border-radius: 10px;
}
#btn_edit{
    background: green;
    margin-left: 5px;
}
.product_card input{
    position: absolute;
    width: 25px;
    height: 25px;
}





/* ------------ Filters Menu ----------------- */


.filter_menu input{
    border-radius: 25px;
    width:30%;
    align-items: center;
  
    margin-left: 500px;

 
    



}

/* -------------------- Load More --------------- */
.load_more{
    text-align: center;
}
.load_more button{
    padding: 10px 25px;
    margin-bottom: 20px;
    border: 1px solid #555;
    text-transform: capitalize;
}



